@font-face {
  font-family: 'verdana';
  src: url('../fonts/verdana-regular.woff2') format('woff2'),
       url('../fonts/verdana-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-regular.woff2') format('woff2'),
       url('../fonts/opensans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}