@import 'fonts.scss';
@import 'reset.scss';
@import 'ui.scss';

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'open_sans', sans-serif;
}

@import 'container.scss';
@import 'main-content.scss';
